<div class="row">
					<div class="col-lg-12 text-center">
						<span class="TitleDo">Reach</span>
					</div>
					<div class="col-lg-12 text-center">
						<span class="title4">next Badge</span>
					</div>
				</div>
				<br />
				<br />

				<div class="row">
					<div class="col-xs-3">
						<img src="./images/good.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-xs-9">
					
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<img src="./images/people.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-xs-9">
					
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<img src="./images/heart.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-xs-9">
					
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<img src="./images/clock.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-xs-9">
					
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<img src="./images/plant.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-xs-9">
					
					</div>
				</div>